<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <title>SoDJewelry</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
<body>
    <%= render "shared/topbar" %>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
    <%= render "shared/footer" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=#{GOOGLE_KEY}"</script>
    <script>
      function initMap() {
        var myLatLng = {lat: 41.605975, lng: -70.941035};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'So. D Jewelry'
        });
      }
      google.maps.event.addDomListener(window, 'load', initMap);
    </script>
    <script>
    document.write('<script src=js/vendor/' +
    ('__proto__' in {} ? 'zepto' : 'jquery') +
    '.js><\/script>')
    </script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
